.container {
  width: max-content;
  max-height: calc(100vh - 128px);
  overflow-y: auto;
  list-style: none;
  padding: 0;
}

.link {
  padding: 0;
  text-decoration: none;
  color: #f2f2f3;
}

.item {
  width: 844px;
  border-radius: 40px;
  margin-top: 24px;
  background-color: var(--background);
}

.item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item__footer {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
}

.item_images {
  position: relative;
}

.item__image {
  border-radius: 100px;
  position: relative;
}

.item__sum {
  display: flex;
  align-items: center;
}
