.container {
  display: grid;
  justify-content: center;
  max-width: 272px;
  max-height: 208px;
  position: relative;
}

.link {
  text-decoration: none;
  color: #F2F2F3;
}

.image {
  padding-left: 16px;
  padding-right: 16px;
  max-width: 240px;
  max-height: 120px;
  object-fit: contain;
}

.text {
  margin: 0;
  min-height: 48px;
  text-align: center;
}

.counter_active {
  display: block;
}

.counter_inactive {
  display: none;
}
