.section {
  width: 50%;
}

.container {
  display: flex;
  flex-direction: column;

  height: 465px;
  overflow-y: auto;
}

.item {
  display: flex;
  align-items: center;
  column-gap: 8px;
  min-width: 536px;
}

.drag__item {
  cursor: grab;
}

.drag__item_active {
  cursor: grabbing;
}
