.section {
  width: 50%;
  padding-bottom: 40px;
}

.container {
  height: 700px;
  overflow-y: auto;

  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  justify-content: center;
}

.text {
  flex-basis: 100%;
  height: max-content;
}
