.container {
  width: 640px;
  margin: 122px auto 0;
}

.title {
  text-align: center;
}

.status {
  color: #00CCCC;
}

.items {
  overflow-y: auto;
  max-height: 320px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item__image {
  border-radius: 100px;
}

.item__sum {
  display: flex;
  gap: 9px
}
