.container {
  background-color: #1c1c21;
  border-radius: 40px;
  margin: 0 8px 16px;
  width: 584px;
}

.large_size {
  width: 844px;
}

.group {
  display: flex;
  justify-content: space-between;
}

.name {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 0;
}

.ingredients {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items {
  display: flex;
}

.item {
  position: relative;
  width: 64px;
  height: 64px;
  background-color: #131316;
  border-radius: 100px;
  margin-left: -16px;
}

.item:first-of-type {
  z-index: 7;
  margin-left: 0;
}

.item:nth-child(2) {
  z-index: 6;
}

.item:nth-child(3) {
  z-index: 5;
}

.item:nth-child(4) {
  z-index: 4;
}

.item:nth-child(5) {
  z-index: 3;
}

.item:nth-child(6) {
  z-index: 2;
}

.item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 100px;
  padding: 2px;
  background: linear-gradient(to right, #801ab2, #4c4cff);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.image {
  width: 110px;
  margin-left: -22px;
  margin-top: 5px;
}

.price {
  display: flex;
}

.number {
  margin-right: 9px;
}

.status {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 8px 0 24px 24px;
}

.other {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  text-align: center;
  line-height: 56px;
  z-index: 2;
  margin-top: 4px;
  margin-left: -60px;
  background-color: rgba(28, 28, 33, 0.6);
}
