.container {
  margin-top: 120px;
  width: 320px;
}

.item {
  cursor: pointer;
  color: var(--text-inactive-color);
  transition: var(--common-transition);
}

.item:hover {
  color: var(--text-active-color);
}

.item_active {
  color: var(--text-active-color);
}

.description {
  color: var(--text-inactive-color);
  opacity: .4;
}
