.header {
  padding-top: 32px;
  padding-bottom: 33px;
  width: 100%;
}

.nav {
  position: relative;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
