body {
  font-family: "Jet Brains Mono", "Consolas", "Lucida Console";

  display: flex;
  flex-direction: column;
  flex: 1 0 auto;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}
