.overlay {
  display: flex;
  visibility: visible;
  opacity: 1;
  transition: visibility .6s, opacity .6s;

  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.6);
  z-index: 1;
}
