.nav__item {
  display: flex;
  align-items: center;
  color: var(--text-inactive-color);
  transition: var(--common-transition);
  flex-basis: max-content;

  fill-opacity: .4; /* прозрачность заливки */
  stroke: var(--text-inactive-color); /* цвет обводки */
  stroke-width: 1px; /* толщина обводки */
  stroke-opacity: .8; /* прозрачность обводки */

  cursor: pointer;
}

.nav__item:hover {
  fill-opacity: 1;
  stroke-opacity: 0;

  color: var(--text-primary-color);
}

.nav__item:nth-of-type(2) {
  flex: auto
}

.nav__item:nth-of-type(3) {
  stroke: #fff;
  fill-opacity: 1;
  stroke-opacity: 1;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-49%, -50%);
}

.nav__text {
  margin: 0;
}

.active {
  fill-opacity: 1;
  stroke-opacity: 0;

  color: var(--text-primary-color);
}
